* {
    padding: 0;
    margin: 0;
    box-sizing: 0;
}


.header {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    margin-top: 30px;
    padding:4px 24px 16px;
}

.buttons {
    display: flex;
    gap: 30px;
    list-style: none;
    flex-direction: row;
}

a {
    text-decoration-line: none;
    color: black;
}

.list1 {
    list-style: none;
        display: flex;
        flex-direction: row;
        gap: 50px;
        color: black;
}

.navigation {
    display: flex;
    
}

.svg{
    height: 32px;
    width: 32px;
    margin: 0px 8px 0px 0px;
    padding: 8px;
  }